
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body
{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}
header
{
    height: 80px;
    width: 100%;
    border: 1px solid black;
    display: flex;

}
.logo
{
width: 10px;
padding-left: 10px;
}
.links_menu, .links_menu2
{
    display: inline-flex;
    list-style: none;

}
.links_menu
{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-weight: bold;
}
.links_menu2
{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content:  end;
    align-items: center;
    
    font-weight: bold;
}
.links_menu2 li
{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size:  1rem;
}
.links_menu2 li.sing-in
{
    color: (0,0,0,.87);
    border: 1px solid;
    padding: 7px 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.links_menu2 li.join-now
{
    color: white;
    background-color: rgba(0,0,0,.87);
    border: 1px solid;
    padding: 7px 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.container-right
{
    display: flex;

}
.container-right img
{
    width: 50%;

}
.container-right .text
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container-right.first
{
    background-color:#1E3932 ;
    padding: 5px 0;
    margin: 0 0 5px 0;
}
.container-right h1
{
    color: white;
    text-transform: uppercase;
    font-size: 32px;
}
.container-right p
{
    color: white;
    font-size: 20px;
}


.container-left
{
    display: flex;
    flex-direction: row-reverse;
}
.container-left img
{
    width: 50%;

}
.container-left .text
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.container-left.first
{
    background-color:#0044B4 ;
    padding: 5px 0; 
    margin: 10px 0;
}
.container-left h1
{
    color: white;
    text-transform: uppercase;
    font-size: 32px;
}
.container-left p
{
    color: white;
    font-size: 20px;
}
