.bg
{
    background-color: #8EC480;
    padding: 40px;
}

.opciones a{
    color:white;
    text-align: center;
    background-color:#006438;
    font-family: 'Times New Roman', Times, serif;
    
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 10px;
    margin: 20px 20px 20px 20px;
  
   
}